.search__input {
    height: 60px;
    width: 80%;
    border-radius: 100px;
    border: 1px solid #D1D2D6;
}

.search__input::-webkit-input-placeholder {
    font-size: 16px;
    color: #B6BCBF;
}

.search__input:-moz-placeholder {
    font-size: 16px;
    color: #B6BCBF;
}

.search__input::-moz-placeholder {
    font-size: 16px;
    color: #B6BCBF;
}

.search__input:-ms-input-placeholder {
    font-size: 16px;
    color: #B6BCBF;
}

.search__input[type="text"] {
    box-sizing: border-box;
    padding-left: 20px;
}

@media (max-width: 600px) {
    .search__input {
        width: 100%;
    }
}

/*.search__input:invalid:not(:placeholder-shown),
.search__input:invalid:required {
    border-color: #df4b41;
}

.search__input:invalid:not(:placeholder-shown) + .search__error,
.search__input:invalid:required + .search__error {
    display: block;
} */
