.cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    grid-gap: 16px;
}

@media (min-width: 990px) {
    .cards__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 1000px) {
    .cards__container {
        grid-gap: 8px;
    }
}

@media (min-width: 1440px) {
    .cards__container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}
