@import url(./__container/slider__container.css);
@import url(./__wrapper/slider__wrapper.css);
@import url(./__title-block/slider__title-block.css);
@import url(./__button/slider__button.css);
@import url(./__pagination/slider__pagination.css);
@import url(./__git-button/slider__git-button.css);

.slider {
    background-color: #F5F6F7;
    height: auto;
    padding-bottom: 80px;
}

@media (max-width: 1000px) {
    .slider {
        padding-bottom: 50px;
    }

}

@media (max-width: 400px) {
    .slider {
        padding-bottom: 30px;
    }

}
