@import url(./__more/cards__more.css);

.cards__button-wrapper {
    text-align: center;
    margin-top: 80px;
}

@media (max-width: 1000px) {
    .cards__button-wrapper {
        margin-top: 22px;
    }
}
