.footer__link:not(:last-child) {
    padding-right: 40px;
}

@media (max-width: 768px) {
    .footer__link:not(:last-child) {
        padding-right: 25px;
    }
}

@media (max-width: 650px) {
    .footer__link {
        margin-bottom: 20px;
    }
}

