@import url(./__title/card-item__title.css);
@import url(./__text/card-item__text.css);
@import url(./__source/card-item__source.css);
@import url(./__pic/card-item__pic.css);
@import url(./__date/card-item__date.css);

.card-item {
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.card-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
