.grid-table__header {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    border-bottom: 1px solid #1A1B22;
    margin-bottom: -15px;
}
