@import url(./menu__link_main/menu__link_main.css);
@import url(./menu__link_about/menu__link_about.css);
@import url(./menu__link_active/menu__link_active.css);

.menu__link {
    padding: 27px 0;
    color: #B6BCBF;
}

.menu__link:hover {
    border-bottom: 3px solid white;
    color: #FFF;
    opacity: 1;
}

@media (max-width: 768px) {
    .menu__link {
        padding: 17px 0;
    }
}

@media (max-width: 400px) {
    .menu__link {
        padding: 13px 0;
    }
}
